BasedOnStyle: LLVM
IndentWidth: 4
PointerAlignment: Left
AlignConsecutiveMacros: Consecutive
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: true
BreakStringLiterals: true
BinPackParameters: false
BinPackArguments: false
ColumnLimit: 120
IncludeBlocks: Preserve
IncludeCategories:
  - Regex: '<.+>'
    Priority: 1
  - Regex: '".+"'
    Priority: 2
IndentCaseLabels: false
IndentGotoLabels: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SpaceAfterCStyleCast: false
SpaceBeforeParens: Never
SpaceBeforeSquareBrackets: false